.placeholder-card {
  background: white;
  min-height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}